*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Comportamiento del scroll--> baja de manera fluida*/
:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

/*CONFIGURACIÓN HEADER*/
.contenedor{
    width:90%;
    max-width: 1200;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;
}

/*Header--> foto en degrade*/
header{
    height:100vh;
    background: linear-gradient(to top, rgba(255, 128, 119, 0.35) 0%, rgba(177, 42, 91, 0.35) 100%), url(../img/adrien-olichon-z8XO8BfqpYc-unsplash.jpg) no-repeat top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;   
}

.head{
    text-align: center;
    padding:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
}

/*configuracion del menu del costadito*/
.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
/*configuración del menú superior con los enlaces a los distintos lados de la pantalla */
/*con java script hago que se esconda cuando aprieto*/
.menu-navegacion{
    position: fixed;
    top:0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 50%, #f99185 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
/*cuando paso el mouse se abre, lo hago con JS
header:hover .menu-navegacion{
    transform: translate(100%);
}
*/
/*clase extra --> si hago click al botos, el boton hace que se me aparezca otra vez,no se mueve*/
.spread{
    transform: translate(0);
}

/*configuración de los elementos dentro de la barra de nav*/
.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}
/*FIN CONFIGURACIÓN HEADER*/

/*CONFIGURACIÓN TITULOS*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #b12a5b;
    margin-bottom: 40px;
    font-size: 40px;
}
/*FIN CONFIGURACIÓN TITULOS DE MENU*/


/*CONFIGURACIÓN NUESTRO SERVICIO*/
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /*si texto no entra, que vaya a la siguiente linea*/
}

.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width:45%;
}
.service{
    margin-bottom:20px;
}

.n-service{
    margin-bottom: 7px;
    color: #b12a5b
}

.number{
    display: inline-block;
    background: linear-gradient(to top, #ff7e75 0%, #b12a5b 100%);
    width: 30px;
    height: 30px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 70%;
    line-height: 30px;
    margin-right: 5px;
}
/*FIN CONFIGURACIÓN NUESTRO SERVICIO*/

/*CONFIGURACIÓN GALERIA*/
.gallery{
    background: #f2f2f2;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    background:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transition: transform .3s .2s;
    transform: scale(0);
}
/*clase extra para cuando hago click a imagen*/
.showImage{
    transform: scale(1);

}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
/*FIN CONFIGURACIÓN GALERIA*/

/*CONFIGURACIÓN SOBRE NOSOTROS*/
.nosotros{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-nosotros{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-nosotros img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-nosotros{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
/*FIN CONFIGURACIÓN SOBRE NOSOTROS*/

/*CONFIGURACIÓN CONTACTO*/
footer{
    background: #b12a5b;
    padding-bottom: 0.1px; /*para evitar colapso de imagenes, si no hay nada que intervenga entre dos margenes*/

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 400;
    font-size: 40px;
}
/*conf parrafo*/
.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #b12a5b;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*FIN CONFIGURACIÓN FIN CONTACTO*/

/*800px es el pto de quiebre, se hace mobile*/
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-nosotros{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i {
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

/*500px es el pto de quiebre, se hace mobile*/
@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}